<!-- Content -->
<div class="container project-view">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="vimeo-video-wrapper">
        {{{tour.slider.video}}}
      </div>
    </div>
  </div>
</div>

<script>
  jQuery(".nav-exit").click(function (evn) {
    $.magnificPopup.close();
  });

  jQuery(".container").fitVids();
</script>
