<!-- content begin -->
<div id="content" class="no-bottom no-top">
  <!-- Video header -->
  <section class="no-padding" data-speed="5" data-type="background">
    <div class="de-video-container">
      <div class="de-video-content">
        <div class="text-center">
          <div class="video-header-1">Property Vision</div>
          <div class="video-header-title">Captivating Property Tours</div>
          <div class="small-border"></div>
          <div class="video-header-2">Real Estate Videography &#183; Photography &#183; Media Marketing Products</div>
          <a href="/signup" class="btn-slider btn-video">Order a Tour</a>
          <div class="new-line"></div>
          <a href="#PriceList" class="btn-slider btn-video">Pricing</a>
          <div class="new-line"></div>
          <a href="/25woodcliffplace" target="_blank" class="btn-slider btn-video">Sample Tour</a>
        </div>
      </div>

      <div class="de-video-overlay">
        <a href="#second-section" class="scroll-to">
            <span class="mouse">
              <span class="scroll"></span>
            </span>
        </a>
      </div>

      <!-- load your video here -->
      <video autoplay loop muted width="100%" poster="/images/background/homepage_video_poster.jpg">
        <source src="/reel.mp4" type="video/mp4" />
      </video>
    </div>
  </section>

  <section id="header-call-to-action" class="side-bg" style="padding: 20px 0; background-color: #FAB702;">
    <div class="container">
      <div class="row text-center">
        <div class="col-xs-4">
          <a href="/signup" class="btn-slider btn-video">Order a Tour</a>
        </div>
        <div class="col-xs-4">
          <a href="#PriceList" class="btn-slider btn-video btn-video-middle">Pricing</a>
        </div>
        <div class="col-xs-4">
          <a href="/25woodcliffplace" target="_blank" class="btn-slider btn-video">Sample Tour</a>
        </div>
      </div>
    </div>
  </section>

  <section id="second-section" class="side-bg no-bottom" style="background-color: #333;">
    <div class="container">
      <div class="row text-light">
        <div class="col-md-6 col-md-offset-3 text-center wow fadeInUp">
          <h1 class="theme-title theme-title-color">Most Comprehensive Real Estate Tour Platform</h1>
          <div class="separator"><span><i class="fa fa-circle"></i></span></div>
          <div class="spacer-single"></div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-8 col-md-7" style="position: relative;">
          <img src="images/platform-highlights.png" alt="" class="img-responsive">
        </div>
        <div class="col-lg-4 col-md-5">
          <div class="row home-highlights">
            <div class="col-sm-12 item">
              <div class="box-icon">
                <div class="text">
                  <h4><i class="fa fa-check" aria-hidden="true"></i>Captivating Video Tour</h4>
                </div>
              </div>
            </div>
            <div class="col-sm-12 item">
              <div class="box-icon">
                <div class="text">
                  <h4><i class="fa fa-check" aria-hidden="true"></i>Quick Property Details</h4>
                </div>
              </div>
            </div>
            <div class="col-sm-12 item">
              <div class="box-icon">
                <div class="text">
                  <h4><i class="fa fa-check" aria-hidden="true"></i>Clean Gallery with Professional Photos</h4>
                </div>
              </div>
            </div>
            <!--
            <div class="col-sm-12 item">
              <div class="box-icon">
                <div class="text">
                  <h4><i class="fa fa-check" aria-hidden="true"></i>360 Virtual Tours</h4>
                </div>
              </div>
            </div> -->
            <div class="col-sm-12 item">
              <div class="box-icon">
                <div class="text">
                  <h4><i class="fa fa-check" aria-hidden="true"></i>Detailed Property Info</h4>
                </div>
              </div>
            </div>
            <div class="col-sm-12 item">
              <div class="box-icon">
                <div class="text">
                  <h4><i class="fa fa-check" aria-hidden="true"></i>Open House Info, Offer Presentation Dates</h4>
                </div>
              </div>
            </div>
            <div class="col-sm-12 item">
              <div class="box-icon">
                <div class="text">
                  <h4><i class="fa fa-check" aria-hidden="true"></i>Neighborhood Info Section</h4>
                </div>
              </div>
            </div>
            <div class="col-sm-12 item">
              <div class="box-icon">
                <div class="text">
                  <h4><i class="fa fa-check" aria-hidden="true"></i>Agent Corner</h4>
                </div>
              </div>
            </div>
            <div class="col-sm-12 item">
              <div class="box-icon">
                <div class="text">
                  <h4><i class="fa fa-check" aria-hidden="true"></i>Clean and Professionally Designed</h4>
                </div>
              </div>
            </div>
            <div class="col-sm-12 item">
              <div class="box-icon">
                <div class="text">
                  <h4><i class="fa fa-check" aria-hidden="true"></i>Optimized for Mobile/Tablet/Multiplatform</h4>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="section-describe" class="side-bg no-padding" style="background: #FAB702;">
    <div class="container">
      <div class="row">
        <div class="col-md-5 wow fadeInRight text-center" data-wow-delay=".25s">
          <div class="inner-padding">
            <h1 class="theme-title" style="color: #333;">Unforgettable<br />First Impression<br />on Custom<br />Web Page</h1>
          </div>
        </div>
        <div class="image-container text-left col-md-7 col-sm-7 pull-right" data-delay="0" style="padding-left: 10%;">
          <img src="images/mac-and-iphone.png" alt="" width="70%"
               class="hidden-phone img-responsive" style="margin-right: 60px !important; margin-top: 20px; width: auto;
    height: 120%;">
        </div>
      </div>
    </div>

  </section>

  <!-- Price List section begin -->
  {{> home_price_list}}
  <!-- Price List section close -->

  <section id="view-all-projects" class="call-to-action bg-color" data-speed="5"
           data-type="background" style="background-position: 50% -475px; background-color: #FAB702;">
    <div class="container" style="padding: 0 30px;">
      <div class="row">
        <div class="col-sm-7 col-sm-offset-1 text-center">
          <h2 style="margin: 0;">Not sure what suits your needs?  Get a quote.</h2>
        </div>
        <div class="col-sm-3 text-center">
          <a href="/#Contact" class="btn btn-line-black btn-big btn-margin-mobile">
            GET QUOTATION</a>
        </div>
      </div>
    </div>
  </section>


  <!-- section begin -->
  <section id="additional-services" class="side-bg no-padding" style="background: #333;">
    <div class="container" style="padding: 90px 0;">
      <div class="row text-light">
        <div class="col-sm-12 wow fadeInUp">
          <div class="row">
            <div class="col-sm-12 text-center wow fadeInUp">
              <h1 class="theme-title">Additional Services</h1>
              <div class="separator"><span><i class="fa fa-circle"></i></span></div>
              <div class="spacer-single"></div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-4 col-sm-offset-4 text-center">
              <img class="middle-image img-responsive" src="/images/additional-service.png" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- section close -->

  <section id="view-all-projects" class="call-to-action bg-color" data-speed="5"
           data-type="background" style="background-position: 50% -475px; background-color: #FAB702;">
    <div class="container" style="padding: 0 30px;">
      <div class="row">
        <div class="col-sm-7 col-sm-offset-1 text-center">
          <h2 style="margin: 0;">We work 7 days a week! Give us a call now.</h2>
        </div>
        <div class="col-sm-3 text-center">
          <a href="/#Contact" class="btn btn-line-black btn-big btn-margin-mobile">
            CONTACT US</a>
        </div>
      </div>
    </div>
  </section>

  <!-- section begin -->
  <section class="side-bg no-padding" style="background: #333;">
    <div class="container" style="padding: 90px 0;">
      <div class="row text-light">
        <div class="col-sm-12 wow fadeInUp">
          <div class="row">
            <div class="col-sm-8 col-sm-offset-2 text-center wow fadeInUp">
              <h1 class="theme-title">Servicing Area</h1>
              <div class="separator"><span><i class="fa fa-circle"></i></span></div>
              <div class="spacer-single"></div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <img src="/images/service-area-dark.png" style="width: 100%;">
            </div>
          </div>
          <div class="row" style="padding: 20px 0;">
            <div class="col-sm-12 text-center">
              <div>
                  <span style="margin: 0 4px;">
                    <div style="display: inline-block; width: 20px; height: 20px; background-color: #FAB702;
                    border: 1px solid; border-color: rgba(255, 255, 255, 0.4); position: relative; top: 4px;"></div>
                    <h3 style="color: #FAB802; display: inline-block;">No Extra Charge</h3>
                  </span>
                <span style="margin: 0 4px;">
                    <div style="display: inline-block; width: 20px; height: 20px; background-color: #2D2D2D;
                    border: 1px solid; border-color: rgba(255, 255, 255, 0.4); position: relative; top: 4px;"></div>
                    <h3 style="display: inline-block;">Extra Charge</h3>
                </span>
              </div>
              <a href="/#Contact" class="btn btn-line btn-margin-mobile"
                 style="margin:10px 0; border-color: #fff; color: #fff;">
                Please Contact for Quotation</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- section close -->

  <section id="Contact" style="padding: 90px 0 10px 0; background: url('/images/background/contact_us_bg.png');">
    <div class="container text-light">
      <div class="row">
        <div class="col-md-8">
          <h3>Send Us Message</h3>
          <form name="contactForm" id='contact_form' method="post" action='/contact-form'>
            <div class="row">
              <div class="col-md-4">
                <div id='name_error' class='error'>Please enter your name.</div>
                <div>
                  <input type='text' name='name' id='name' class="form-control" placeholder="Your Name">
                </div>

                <div id='email_error' class='error'>Please enter your valid E-mail ID.</div>
                <div>
                  <input type='text' name='email' id='email' class="form-control" placeholder="Your Email">
                </div>

                <div id='phone_error' class='error'>Please enter your phone number.</div>
                <div>
                  <input type='text' name='phone' id='phone' class="form-control" placeholder="Your Phone">
                </div>
              </div>
              <div class="col-md-8">
                <div id='message_error' class='error'>Please enter your message.</div>
                <div>
                  <textarea name='message' id='message' class="form-control" placeholder="Your Message"></textarea>
                </div>
              </div>

              <div class="col-md-12">
                <p id='submit'>
                  <input type='submit' id='send_message' value='Submit Form' class="btn btn-line">
                </p>
                <div id='mail_success' class='success'
                  {{#if success}}style="display: block;"{{/if}}>Your message has been sent successfully.</div>
                <div id='mail_fail' class='error'
                     {{#if error}}style="display: block;"{{/if}}>Sorry, error occured this time sending your message.</div>
              </div>
            </div>
          </form>
        </div>

        <!-- Contact Info -->
        <div id="sidebar" class="col-md-4">
          <div class="widget widget_text">
            <h3>Contact Info</h3>
            <address>
              <span><strong>Phone:</strong>(905) 766 9015</span>
              <span><strong>Email:</strong><a href="mailto:info@propertyvision.ca">info@propertyvision.ca</a></span>
            </address>
          </div>
        </div>
        <!-- Contact Info ends -->
      </div>
    </div>
  </section>
</div>

{{#section 'head'}}
<link rel="stylesheet" href="/dist/css/light.css" type="text/css">
<link rel="stylesheet" href="/css/page_specific/home_page.css" type="text/css">
{{/section}}

{{#section 'javascript'}}
  <script src="/js/home/homepage.js"></script>
{{/section}}

