Your tour for $PROPERTYADDRESS has been scheduled for $TOURSCHEDULE.
Please see our preparation guide:
<ol>
    <li>Clean driveway without any vehicles.</li>
    <li>Organize backyard.</li>
    <li>All lights ON (inside/outside).</li>
    <li>Blinds and curtains in a proper position.</li>
    <li>Closed toilet seats.</li>
    <li>Agent/homeowner should know and mention about the areas that should
        not be covered.</li>
    <li>Clean and organized rooms (countertops, sinks etc.).</li>
    <li>No shoes in the hallways.</li>
    <li>No people in the room where the actual shooting is going on.</li>
    <li>All TVs off.</li>
    <li>No pets during photography session.</li>
</ol>
