<section id="PriceList" class="side-bg no-padding">
  <div class="container">
    <div class="row text-light">
      <div class="col-xs-12">
        <div id="PricingHQPhoto" class="row price-list-row">
          <div class="col-xs-12 col-md-6 wow fadeInUp animated" data-wow-delay=".6s" style="visibility: visible; animation-delay: 0.6s; animation-name: fadeInUp;">
            <div class="gallery full-gallery de-gallery pf_full_width wow fadeInUp gallery-tour" data-wow-delay=".3s">
              <!-- gallery item -->
              <div class="price-item">
                <div class="picframe">
                  <a id="HQPhotographyGallery" href="/images/portfolio/pf_3.jpg">
                            <span class="price-list-overlay">
                              <span class="pf_text">
                                <span class="project-name">Click to view samples</span>
                              </span>
                            </span>
                  </a>
                  <img src="/images/samples/hdr_thumbnail.jpg" alt="" />
                </div>
              </div>
              <!-- close gallery item -->
            </div>
          </div>
          <div class="col-xs-12 col-md-6 content">
            <h2 class="theme-title">HQ Photography</h2>
            <h3 class="theme-title">Starting <sup>$</sup>99.99</h3>
            <a href="/signup" class="btn btn-line btn-margin-mobile"
               style="margin:10px 0; border-color: #fff; color: #fff;">
              Order Now</a>
          </div>
        </div>

        <div id="PricingHDVideography" class="row price-list-row">
          <div class="col-md-6 wow fadeInUp animated pull-right" data-wow-delay=".6s" style="visibility: visible; animation-delay: 0.6s; animation-name: fadeInUp;">
            <figure>
              <img src="/images/samples/video_thumbnail.jpg" class="img-responsive" alt="">
              <div id="PlayButton">
                <a href="/home-pricelist-vimeo">
                  <img src="/images/icons/play-circle-icon.png" class="play-circle-icon" style="width: 100px; height: 100px;">
                </a>
              </div>
            </figure>
          </div>
          <div class="col-xs-12 col-md-6 content">
            <h2 class="theme-title">Cinematic Video</h2>
            <h3 class="theme-title">Starting <sup>$</sup>149.99</h3>
            <ul class="price-list">
              <li><i class="fa fa-check" aria-hidden="true"></i>
                Up to 60 sec, professionally edited <span class="theme-colored-text">Cinematic Property Trailer</span></li>
              <li><i class="fa fa-check" aria-hidden="true"></i>
                Presented on our <span class="theme-colored-text"><i>ProVision&#174;</i></span> Web Platform</li>
              <li><i class="fa fa-check" aria-hidden="true"></i>
                Property Highlights and Details</li>
              <li><i class="fa fa-check" aria-hidden="true"></i>
                48 Hours Turnaround</li>
            </ul>
            <a href="/signup" class="btn btn-line btn-margin-mobile"
               style="margin:10px 0; border-color: #fff; color: #fff;">
              Order Now</a>
          </div>
        </div>

        <div id="Pricing3DMatterport" class="row price-list-row">
          <!-- Deleted to resolve conflict between animate.css and iframe fullscreen
          <div class="col-md-6 wow fadeInUp animated" data-wow-delay=".6s" style="visibility: visible; animation-delay: 0.6s; animation-name: fadeInUp;">
          -->
          <div class="col-xs-12 col-md-6">
            <iframe id="showcase-player" width="100%" height="300px" src='https://my.matterport.com/show/?m=Tm11SctMhmM&brand=1&vr=0&help=1' frameborder='0' allowfullscreen></iframe>
          </div>
          <div class="col-xs-12 col-md-6 content">
            <h2 class="theme-title">3D Tours</h2>
            <h3 class="theme-title">Starting <sup>$</sup>199.99</h3>
            <a href="/signup" class="btn btn-line btn-margin-mobile"
               style="margin:10px 0; border-color: #fff; color: #fff;">
              Order Now</a>
          </div>
        </div>

        <div id="PricingAerialPhotoVideo" class="row price-list-row">
          <div class="col-md-6 wow fadeInUp animated pull-right" data-wow-delay=".6s" style="visibility: visible; animation-delay: 0.6s; animation-name: fadeInUp;">
            <div class="gallery full-gallery de-gallery pf_full_width wow fadeInUp gallery-tour" data-wow-delay=".3s">
              <!-- gallery item -->
              <div class="price-item">
                <div class="picframe">
                  <a id="AerialPhotographyGallery" href="/images/portfolio/pf_3.jpg">
                            <span class="price-list-overlay">
                              <span class="pf_text">
                                <span class="project-name">Click to view samples</span>
                              </span>
                            </span>
                  </a>
                  <img src="/images/samples/aerial_thumbnail.jpg" alt="" />
                </div>
              </div>
              <!-- close gallery item -->
            </div>
          </div>
          <div class="col-xs-12 col-md-6 content">
            <h2 class="theme-title">Aerial Photo / Video</h2>
            <h3 class="theme-title">Starting <sup>$</sup>149.99</h3>
            <a href="/signup" class="btn btn-line btn-margin-mobile"
               style="margin:10px 0; border-color: #fff; color: #fff;">
              Order Now</a>
          </div>
        </div>

        <div class="row price-list-row">
          <div class="col-xs-12 col-md-6 wow fadeInUp animated" data-wow-delay=".6s" style="visibility: visible; animation-delay: 0.6s; animation-name: fadeInUp;">
            <div class="gallery full-gallery de-gallery pf_full_width wow fadeInUp gallery-tour" data-wow-delay=".3s">
              <!-- gallery item -->
              <div class="price-item">
                <div class="picframe">
                  <a id="TwilightPhotographyGallery" href="/images/portfolio/pf_2.jpg">
                            <span class="price-list-overlay">
                              <span class="pf_text">
                                <span class="project-name">Click to view samples</span>
                              </span>
                            </span>
                  </a>
                  <img src="/images/samples/twilight_thumbnail.jpg" alt="" />
                </div>
              </div>
              <!-- close gallery item -->
            </div>
          </div>
          <div class="col-xs-12 col-md-6 content">
            <h2 class="theme-title">Twilight Photography</h2>
            <h3 class="theme-title">Starting <sup>$</sup>49.99</h3>
            <a href="/signup" class="btn btn-line btn-margin-mobile"
               style="margin:10px 0; border-color: #fff; color: #fff;">
              Order Now</a>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>
