<!-- Content -->
<div class="container project-view">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="vimeo-video-wrapper">
        <iframe src="https://player.vimeo.com/video/215745498?autoplay=1&title=0&byline=0&portrait=0" width="800" height="450" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>

<script>
  jQuery(".nav-exit").click(function (evn) {
    $.magnificPopup.close();
  });

  jQuery(".container").fitVids();
</script>
