<!-- Content -->
<div class="container project-view">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <div class="img-container virtual-tour">
        <iframe src="{{tour.panoTour.url}}" allowFullScreen></iframe>
      </div>
    </div>
  </div>
</div>

